*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    
}
#navbar::before{   
    content:"" ;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 78%;
    width: 100%;
    z-index: -1;
    opacity: 0.90;
}
#logo{
    margin: 10px 13px;
}
#logo img{
    height: 155px;
    margin: 9px 24px;
}
#navbar ul
{
    display: flex;
}  
#navbar ul li{
    list-style: none;
    
    font-size: 1.5rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;   
}
/*Home section*/
#Home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    bottom: 10px;
    height: 526px;
    justify-content: center;
    align-items: center;
}
#Home h1{
    color: black;
    z-index: -1;
    opacity: 0.80;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    
}
#Home p{
    color: rgb(42, 40, 43);
    z-index: -1;
    text-align: center;
    font-size: 2.9rem;
     font-family: "Whisper", cursive;
}
#Home::before{
     content:"" ;
    background: url('../employee.png') no-repeat center center/cover;
    position: absolute;
    height: 83%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.70;
}
/*services section*/

.services-container h1{
    margin-top: 60px;
    opacity: 0.70;
}
#services{
    margin: 25px ;
    display: flex;
    margin-left: 31%;
}
#services .box{
    border: 2px solid brown;
    border-radius: 15px;
    padding: 34px;
    margin: 33px;
    background-color: rgb(230, 236, 236);
    box-shadow: 5px 5px #888888;
}
#services .box img{
   height: 160px;
}
#services .box .btn1 {
    padding: 2px 10px;
 border: 2px solid white;
 background-color: lightseagreen;
 color: white;
 font-size: 1.2rem;
 margin-top: 10px;
 margin-left: 54px;
 margin-bottom: 4px;
 border-radius: 20px;
 cursor: pointer;
}
#services .box .btn1:hover{
    background-color: brown;
} 
#services .box h2 {
    padding: 10px;
    text-align: center;
    
}
#services .box1{
    border: 2px solid brown;
    border-radius: 15px;
    padding-top: 6px;
    margin: 33px;
    width: 302px;
    background-color: rgb(230, 236, 236);
    box-shadow: 5px 5px #888888;
}
#services .box1 img{
   height: 190px;
    padding-left: 88px;
}
#services .box1 .btn1 {
    padding: 2px 10px;
 border: 2px solid white;
 background-color: lightseagreen;
 color: white;
 font-size: 1.2rem;
 margin-top: 10px;
 margin-left: 97px;
 margin-bottom: 4px;
 border-radius: 20px;
 cursor: pointer;
}
#services .box1 .btn1:hover{
    background-color: brown;
} 
#services .box1 h2 {
    padding: 10px;
    text-align: center;
    
}
/*client-section*/
#client-section{
height: 544px;
background: url('../pexels-kindel-media-7688460.jpg') no-repeat center center/cover;

}
#client-section  h1{
   
    opacity: 0.80;
   
}
#client{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#client img{ 
    height: 200px;
    padding: 15px;
}
#client img:hover{
    background-color: beige;
}


/*utility classes*/
.h-primary{
    font-size: 3.9rem;
    padding: 12px;
    font-family: "Abril Fatface", serif;
}
.h-secondary{
    font-size: 2.9rem;
    padding: 12px;
    font-family: "Bebas Neue", sans-serif;
}
.btn{
 padding: 6px 20px;
 border: 2px solid white;
 background-color: lightseagreen;
 color: white;
 font-size: 1.2rem;
 margin-top: 75px;
 border-radius: 20px;
 cursor: pointer;

}
.btn:hover{
    background-color: brown;
}
.center{
    text-align: center;
}